/*
 *
 */
// High-level base settings.
$inuit-base-font-size:          18px;
$inuit-base-line-height:        27px; 
$inuit-base-text-color:         #333; 
$inuit-base-background-color:   #fff;

$milli-size: 14px;
